@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --intro-text-color: white;
    --btn-color: #ffe900;
    --btn-bg-color: #ffe900;
    --btn-hover-color: white;
    --btn-hover-bg-color: #ffe900;

    --load-bg-color: #ff2b75;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.loader {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--load-bg-color);
}

/* INTRO SECTION */
.intro {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    background-color: var(--load-bg-color);
}

.party-on .intro {
    pointer-events: none;
}

.intro-container {
    height: 3.2rem;
    line-height: 110%;
    overflow: clip;
}

.intro-el {
    position: relative;
    height: 2.6rem;
    line-height: 110%;
    text-align: center;
    font-size: 2.4rem;
    color: var(--intro-text-color);
    text-transform: lowercase;
}

.intro-el.empty {
    opacity: 0;
}

.intro-el.btn {
    border-color: var(--btn-bg-color);
    border-width: 4px;
    border-style: solid;
    color: var(--btn-color);
    padding: .4rem 2rem;
    font-size: 2rem;
    height: auto;
    font-weight: 800;
    line-height: normal;
    border-radius: 12px;
    align-self: center;
    cursor: pointer;
    z-index: 100;
    transition: all .5s ease;
    user-select: none;
    text-transform: uppercase;
}

.intro-el.btn p {
    pointer-events: none;
}

/* BTN - emoji animation */
.emoji-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .25s ease;
}

.emoji-anim {
    position: absolute;
    z-index: 80;
    top: 0px;
    left: 6px;
    font-size: 1.2em;
    z-index: -1;
    transition: all .5s ease;
    opacity: 1;
}


.emoji-anim:nth-child(1) {
    transition-delay: 2ms;
}

.emoji-anim:nth-child(2) {
    transition-delay: 0ms;
}

.emoji-anim:nth-child(3) {
    transition-delay: 5ms;
}

.emoji-anim:nth-child(4) {
    transition-delay: 0ms;
}

.emoji-anim:nth-child(5) {
    transition-delay: 9ms;
}

.emoji-anim:nth-child(6) {
    transition-delay: 6ms;

}

.emoji-anim:nth-child(7) {
    transition-delay: 15ms;

}

.party-on .emoji-anim:nth-child(1) {
    transform: translate(-150px, 100px) rotate(-270deg) scale(0.25);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(2) {
    transform: translate(-160px, 180px) rotate(270deg) scale(0.5);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(3) {
    transform: translate(0px, 145px) rotate(160deg);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(4) {
    transform: translate(150px, 0px) rotate(85deg) scale(0.3);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(5) {
    transform: translate(0px, -170px) rotate(320deg) scale(0.3);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(6) {
    transform: translate(-145px, -110px) rotate(710deg) scale(0.3);
    opacity: 0;
}

.party-on .emoji-anim:nth-child(7) {
    transform: translate(160px, -180px) rotate(120deg) scale(0.3);
    opacity: 0;
}


/* MAIN */
section {
    min-height: 100svh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 2rem;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.bg-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform-origin: center;
    background-image: url('../media/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-container img {
    width: 100%;
    height: auto;
}

.cup-container {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 25svh;
    mix-blend-mode: color;
    mix-blend-mode: overlay;
    transform-origin: center;
}

.cup-container img {
    width: 100%;
    height: auto;
}

.title-container,
.subtitle-container {
    position: relative;
    width: 100%;
    z-index: 5;
}

.title-container img,
.subtitle-container img {
    width: 100%;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-container div:nth-child(2) {
    text-align: right;
}

.title-container img {
    max-width: 80%;
}